{% extends 'base.html' %}
{% block content %}

    <section class="row row-cols-2 pt-5">
        <div class="col">
            <div class="col-12">
                <label for="lifestory" class="col-4 spectrum-FieldLabel spectrum-FieldLabel--left">First Name</label>
                <div class="col-7 spectrum-Textfield">
                    <input type="text" placeholder="Enter your name" name="field" value=""
                           class="spectrum-Textfield-input">
                </div>
            </div>

            <div class="col-12">
                <label for="lifestory" class="col-4 spectrum-FieldLabel spectrum-FieldLabel--left">Last Name</label>
                <div class="col-7 spectrum-Textfield">
                    <input type="text" placeholder="Enter your name" name="field" value=""
                           class="spectrum-Textfield-input">
                </div>
            </div>

            <div class="col-12">
                <label for="lifestory" class="col-4 spectrum-FieldLabel spectrum-FieldLabel--left">Address</label>
                <div class="col-7 spectrum-Textfield">
                    <input type="text" placeholder="Enter your name" name="field" value=""
                           class="spectrum-Textfield-input">
                </div>
            </div>

            <div class="col-12">
                <label for="lifestory" class="col-4 spectrum-FieldLabel spectrum-FieldLabel--left">Email</label>
                <div class="col-7 spectrum-Textfield">
                    <input type="text" placeholder="Enter your name" name="field" value=""
                           class="spectrum-Textfield-input">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row row-cols-2">
                <div class="col">
                    <table class="spectrum-Table">
                        <thead class="spectrum-Table-head">
                        <tr>
                            <th class="spectrum-Table-headCell">Column Title</th>
                        </tr>
                        </thead>

                        <tbody class="spectrum-Table-body">
                        <tr class="spectrum-Table-row">
                            <td class="spectrum-Table-cell" tabindex="0">Row Item Alpha</td>
                        </tr>
                        <tr class="spectrum-Table-row">
                            <td class="spectrum-Table-cell" tabindex="0">Row Item Bravo</td>
                        </tr>
                        <tr class="spectrum-Table-row">
                            <td class="spectrum-Table-cell" tabindex="0">Row Item Charlie</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="spectrum-ActionGroup spectrum-ActionGroup--vertical spectrum-ActionGroup--compact">
                        <button class="spectrum-ActionButton spectrum-ActionGroup-item">
                            <span class="spectrum-ActionButton-label">Add</span>
                        </button>

                        <button class="spectrum-ActionButton spectrum-ActionGroup-item">
                            <span class="spectrum-ActionButton-label">Delete</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row row-cols-2">
                <div class="col">
                    <table class="spectrum-Table">
                        <thead class="spectrum-Table-head">
                        <tr>
                            <th class="spectrum-Table-headCell">Column Title</th>
                        </tr>
                        </thead>

                        <tbody class="spectrum-Table-body">
                        <tr class="spectrum-Table-row">
                            <td class="spectrum-Table-cell" tabindex="0">Row Item Alpha</td>
                        </tr>
                        <tr class="spectrum-Table-row">
                            <td class="spectrum-Table-cell" tabindex="0">Row Item Bravo</td>
                        </tr>
                        <tr class="spectrum-Table-row">
                            <td class="spectrum-Table-cell" tabindex="0">Row Item Charlie</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <div class="spectrum-ActionGroup spectrum-ActionGroup--vertical spectrum-ActionGroup--compact">
                        <button class="spectrum-ActionButton spectrum-ActionGroup-item">
                            <span class="spectrum-ActionButton-label">Add</span>
                        </button>

                        <button class="spectrum-ActionButton spectrum-ActionGroup-item">
                            <span class="spectrum-ActionButton-label">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12 mx-auto pt-3">
            <div class="col-12 p-0 spectrum-ActionGroup spectrum-ActionGroup--compact">
                <button class="col-4 spectrum-ActionButton spectrum-ActionGroup-item">
                    <span class="spectrum-ActionButton-label">Edit</span>
                </button>
                <button class="col-4 spectrum-ActionButton spectrum-ActionGroup-item">
                    <span class="spectrum-ActionButton-label">Copy</span>
                </button>
                <button class="col-4 spectrum-ActionButton spectrum-ActionGroup-item is-selected">
                    <span class="spectrum-ActionButton-label">Delete</span>
                </button>
            </div>
        </div>
    </section>

{% endblock content %}