{% extends 'base.html' %}

{% block content %}

    <section class="row row-cols-2 pb-5 px-3" style="background-color: #ffffff;">
        <div class="col px-5">
            <img style="width: 100%" src="../static/img/Ja.svg" alt="J. A"/>
        </div>

        <div class="col">
            <h1 class="spectrum-Heading spectrum-Heading--XXL spectrum-Heading--serif">Contacts List</h1>
            <h3>Problem Description</h3>
            <p>The objective is to build an application that handles all the personal contacts for a user. Each contact
                has a first and last name, an address, an email, multiple phone numbers, and a set of keywords used to
                search for that contact. The first and last names of the contact must be unique within the list and they
                are, by default, keywords.</p>
        </div>
    </section>

{% endblock content %}